.container-fluid {
    padding: 0px 350px 0px 370px;
}

.btn-md {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 15px;
   
}

.col-form-label {
    font-size: 15px;
}

.card-header {
    font-size: large;
   
}

.card-body {
    padding: 0px 30px 0px 30px;
}
.color{
    color: red;
}
.card-footer{
    padding: 20px
}
#btn{
    float: right;
    
    
}
.form-control{
    font-display: bold;
}







