<div class="container-fluid">
  <div class="card">
    <div class="card-header text-center"><strong>Add Empty Oxygen Cylinder To Stock</strong></div>
    <div class="card-body">
      <form class="form-horizontal" [formGroup]=" receivecylinder"  method="post">
        <div class="form-row-group">
          <label for="col-md-3 col-form-label" for="cylindertype"><b>Cylinder Type:</b></label>
           <!-- <div class="col-md-9"> -->
            <select class="form-control" [(ngModel)]="cylinderType" formControlName="cylinderType" required>
              <option value="" >--select--</option>
              <option>3kg</option>
              <option>5kg</option>
              <option>8kg</option>
            </select>
            <!-- {{cylinderType}} -->
       
    </div>  
 
        <div class="form-row-group ">
          <label class="col-form-label" for="quantity"><b>Quantity : </b></label>
         
            <input class="form-control" id="quantity" type="number" [(ngModel)]="quantity" formControlName="quantity" min="1" max="100" placeholder="Eg:4">
          
        </div> 
  
    
      </form>

      <div class="card-footer">
        <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addcylindermyModal"  >ADD</button>
      
    </div> 
    <div class="modal fade" id="addcylindermyModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">Review cylinder detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body  text-center">
            <form class="form-horizontal" action="" method="post">
              <div class="form-row-group">
            <label class="col-md-6 col-form-label text-right" for="">Cylinder Type :</label>
           <label class="col-md-6 col-form-label" for="">{{cylinderType}}</label>
           <label class="col-md-6 col-form-label text-right" for="">Quantity:</label>
           <label class="col-md-6 col-form-label" for="">{{quantity}}</label>
          </div>
          </form>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
           
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="onadd();">Confirm</button>
          </div>
          
        </div>
    
  </div>     


</div>


