.container-fluid {
    padding: 0px 390px 0px 370px;
}

.btn-md {
    padding-left: 40px;
    padding-right: 40px;
}

.col-form-label {
    font-size: 15px;
}

.card-header {
    font-size: large;
   
}

.card-body {
    padding: 0px 10px 0px 30px;
    
}
.color{
    color: red;
}

#btn{
    float: right;
    margin: 10px 0px 10px 0px;
}
.form-control{
    font-display: bold;
}







