<!-- <div class="container">
    <div class="card">
        <div class="card-header text-center">Review cylinder detail<strong></strong> </div>
        <div class="card-body">
            <form class="form-horizontal" #cylinderForm="ngForm" (ngSubmit)="onadd()" method="post">
                <div class="form-group row">
                    <label class="col-md-6 col-form-label text-right" for="">Cylinder Type :</label>
                    <label class="col-md-6 col-form-label" for="">{{viewdata.cylinderType}}</label>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 col-form-label text-right" for="">Quantity :</label>
                    <label class="col-md-6 col-form-label" for="">{{viewdata.quantity}}</label>
                </div>
            
            
        
        <div class="card-footer">
            <a routerLink="/entrypage" routerLinkActive="active" ng-reflect-router-link-active="active">
            <button class="btn btn-md btn-info" type="reset"> Back</button>
            </a>
            <button class="btn btn-md btn-success float-right" type="submit"> Confirm</button>
        </div>
        </form>
        
    </div>
</div> -->
