.container {
    padding: 0px 0px 10px 170px;
}

.btn-info {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
}

.btn-danger {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}

strong {
    font-size: 20px;
}
table{
    text-align: center;
}