<div class="container-fluid">
    <div class="card">
      <div class="card-header card-primary text-center"><strong>Update Booking Details</strong></div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="bookingForm"  action="" method="post" enctype="multipart/form-data">
          <div class="form-group row">
                <label class="col-md-3 col-form-label" for="patientName">Patient Name  :</label>
             <div class="col-md-9 ">
                 <input class="form-control" id="patientName" formControlName="patientName" type="text"  placeholder="Patient Name">
                </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="age">Age :</label>
         <div class="col-md-9 ">
             <input class="form-control " id="age"  formControlName="age" type="number"  placeholder="Age " >
             </div>
        </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="ambulanceType">Ambulance Type</label>
            <div class="col-md-9">
                <select class="form-control" id="ambulanceType" formControlName="ambulanceType" >
                <option value="" disabled>--Select Ambulance Type--</option>
                <option value="Normal">Normal</option>
                <option value="infectious disease Ambulance">Infectious</option>
                </select>
            </div>
          </div>
          
         <div class="form-group row">
                <label class="col-md-3 col-form-label" for="address"> Patient Address  :</label>
            <div class="col-md-9 ">
                <input class="form-control " id="address" formControlName="address" type="text" placeholder="Patient Address ">
                </div>
         </div>
         <div class="form-group row">
            <label class="col-md-3 col-form-label" for="mobile"> Mobile Number  :</label>
        <div class="col-md-9 ">
            <input class="form-control " id="mobile" formControlName="mobile" type="number"  placeholder=" ">
             </div>
        </div>
    
        </form>
  
        <div class="card-footer">
          <button class="btn btn-md btn-primary float-right" (click)="onSubmit();" type="submit">Confirm</button>
        </div>
      </div>
    </div>

