.container {
    padding: 200px 400px 200px 400px;
}

.btn-info {
    padding-left: 40px;
    padding-right: 40px;
}

.btn-success {
    padding-left: 30px;
    padding-right: 30px;
}

.col-form-label {
    font-size: 15px;
}

.card-header {
    font-size: large;
}

.card-body {
    padding: 30px 0px 30px 0px;
}